<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744943931904-4svilg9no530mh63c2fkj2uhmqtehkaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744943931904-4svilg9no530mh63c2fkj2uhmqtehkaa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>744943931904-4ljjm0f0j4acri75hpou2g1lti2d8so4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJpmL4No5FRFZ3gkFNt1e7muA1xZGdcZY</string>
	<key>GCM_SENDER_ID</key>
	<string>744943931904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dozo.ClientApp</string>
	<key>PROJECT_ID</key>
	<string>myordertest-b21eb</string>
	<key>STORAGE_BUCKET</key>
	<string>myordertest-b21eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744943931904:ios:1adf501ab81140cc53fee5</string>
	<key>DATABASE_URL</key>
	<string>https://myordertest-b21eb.firebaseio.com</string>
</dict>
</plist>